.nav-item {
    padding: 0;

}

.navbar {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}

.nav-link {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1)) !important;
}

.container {
    margin-top: 5%;
    width: 100%;
}

.btn {
    margin-left: 10%;
}

.text {
    margin-left: 15%;
}

