<div class="container">
    <div class="row no-gutter">
        <div class="col-md-3 d-none d-md-flex"></div>
        <div class="col-md-6 bg-light">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-8 mx-auto">
                            <h3 class="display-4 text-center">Register</h3>
                            <form>
                                <div class="form-g roup mt-5 mb-3">
                                    <input id="inputName" type="name" placeholder="name" [(ngModel)]="name"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control rounded-pill border-0 shadow-sm px-4">
                                </div>
                                <div class="form-g roup mb-3">
                                    <input id="inputEmail" type="email" placeholder="Email address" [(ngModel)]="email"
                                        [ngModelOptions]="{standalone: true}"
                                        class="form-control rounded-pill border-0 shadow-sm px-4" #emailInput="ngModel">
                                    <div *ngIf="emailInput?.invalid && (emailInput?.dirty || emailInput?.touched)"
                                        class="text-danger">
                                        <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
                                        <div *ngIf="emailInput.errors?.['email']">Invalid email format.</div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <input id="inputPassword" type="password" placeholder="Password"
                                        [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
                                        class="form-control rounded-pill border-0 shadow-sm px-4 text-primary"
                                        #passwordInput="ngModel">
                                    <!-- Display error message for invalid password -->
                                    <div *ngIf="passwordInput?.invalid && (passwordInput?.dirty || passwordInput?.touched)"
                                        class="text-danger">
                                        <div *ngIf="passwordInput?.errors?.['required']">Password is required.</div>
                                    </div>

                                </div>
                                <p class="text-danger" *ngIf="emptyValues">Please check credentials</p>
                                <button type="submit" (click)="register()"
                                    class="btn btn-primary btn-block text-uppercase mb-2 mt-4 col-xl-9 rounded-pill shadow-sm">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>